
@{
    ViewBag.Title = "Account Setup";
    Layout = "~/Views/Shared/_AfterLoginMaster.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Account Setup</b></div>
                <div class="panel-body">
                    <ul class="fc-list-item">
                        <li>
                            <a href="@Url.Action("index","account",new { area="admin"})" class="btn btn-link">
                                Profile setup
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index","membership",new { area = "admin" })" class="btn btn-link">
                                Membership setup
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index","businessadmin",new { area = "admin" })" class="btn btn-link">
                                Administrator setup
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Business Setup</b></div>
                <div class="panel-body">
                    <ul class="fc-list-item">
                        <li>
                            <a href="@Url.Action("index","hour",new { area = "admin" })"  class="btn btn-link">
                                Business Hours setup
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index","holiday",new { area = "admin" })"  class="btn btn-link">
                                Business Holiday setup
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Business Employee Setup</b></div>
                <div class="panel-body">
                    <ul class="fc-list-item">
                        <li>
                            <a href="#" class="btn btn-link">
                                Employee setup
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Business Service Location Setup</b></div>
                <div class="panel-body">
                    <ul class="fc-list-item">
                        <li>
                            <a href="#" class="btn btn-link">
                                Service Location Setup
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Custom Offer Setup</b></div>
                <div class="panel-body">
                    <ul class="fc-list-item">
                        <li>
                            <a href="#" class="btn btn-link">
                                Offer Setup
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>