@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="jumbotron">
        <div class="container">
            <h2>Are you looking for scheduling appointments online?</h2>
            <p>
                You already have all necessary equipment to schedule appointments online — you have a web browser. The rest is just a click away. On your computer screen, on your tablet, on your phone — anywhere!
            </p>
            <p>
                <b>Ap</b> Online Appointment Scheduler is the most reliable online appointment scheduling software available today. Bug-free apps, protected data, maximum uptime — that's Ap promise. Ap enables you to manage your customers, personnel, schedules, appointment calendars — all in one place, from any place.
            </p>
            <p class="center-align" style="padding-top:20px;">
                <a class="btn btn-default" href="@Url.Action("Register","Home", new { isFree = "yes" })" role="button">
                    Register for free for 30 days trial.
                </a>
                <a class="btn btn-success pull-right" href="@Url.Action("Login","Home")" role="button">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login
                </a>
            </p>
        </div>
    </div>
</div>
<div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Admin</div>
                            <div>Business Admin</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Login","Home", new { area = "Admin" })">
                    <div class="panel-footer">
                        <span class="pull-left">Login</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Employee</div>
                            <div>Business Employee</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Login","Home", new { area = "Employee" })">
                    <div class="panel-footer">
                        <span class="pull-left">Login</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Customer</div>
                            <div>Business Customer</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Login","Home", new { area = "Customer" })">
                    <div class="panel-footer">
                        <span class="pull-left">Login</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 jumbotron">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge info">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Login</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-user"></i> Admin</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>To book or look out appointments login with credential.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success">
                        <i class="fa fa-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Calendar</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-user"></i> Admin</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Manager your business calendar</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge success">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Login</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-user"></i> Admin</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>To book or look out appointments login with credential.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge info">
                        <i class="fa fa-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Calendar</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-user"></i> Admin</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Manager your business calendar</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
