@using App.Schedule.Domains.ViewModel;
@model ResponseViewModel<BusinessViewModel>

@{
    ViewBag.Title = "Update Membership";
    Layout = "~/Views/Shared/_AfterLoginMaster.cshtml";
}

<ul class="nav nav-tabs">
    <li class="active"><a href="@Url.Action("membership","account",new { area = "admin"})">Membership</a></li>
</ul>
<div class="tab-content" style="padding:0px 10px;">
    <div class="tab-pane active">
        <div class="col-lg-12 margin10">
            <div class="row">
                @if (Model != null)
                {
                    if (!Model.Status)
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong id="err_head">Info: </strong>
                            <span id="err_title">@Model.Message</span>
                        </div>
                    }
                    using (Ajax.BeginForm("edit", "membership", new AjaxOptions { }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(d => d.Data.Id)
                        <table class="table table-striped">
                            <tr>
                                <td class="col-lg-4 col-md-4 col-sm-4 text-right">Membership Name</td>
                                <td class="col-lg-8 col-md-8 col-sm-8">
                                    @Html.DropDownListFor(d => d.Data.MembershipId, new SelectList(ViewBag.MembershipId, "Value", "Text"), "--Select Membership --", new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-4 col-md-4 col-sm-4  text-right">Details</td>
                                <td class="col-lg-8 col-md-8 col-sm-8">
                                    <a href="#">More information</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-4 col-md-4 col-sm-4 text-right"></td>
                                <td class="col-lg-8 col-md-8 col-sm-8">
                                    <button onclick="onSubmit(this,'@Url.Action("index","membership", new { area = "admin" })')" class="btn btn-default">Edit</button>
                                    <a href="@Url.Action("index", "membership", new { area = "admin" })" class="btn btn-default">Back</a>
                                </td>
                            </tr>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>