@using App.Schedule.Domains.ViewModel;
@model ResponseViewModel<BusinessEmployeeViewModel>

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AfterLoginEmployeeMaster.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        @Html.Partial("~/Views/SubViews/_ErrorView.cshtml", Model)
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Change Password</b>
            </div>
            @using (Ajax.BeginForm("password", "account", new AjaxOptions { }))
            {
                <div class="panel-body">
                    @if (Model == null & Model.Data == null)
                    {
                        <text>Please try again later.</text>
                        return;
                    }
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(d => d.Data.Id)
                    @Html.HiddenFor(d => d.Data.FirstName)
                    @Html.HiddenFor(d => d.Data.LastName)
                    @Html.HiddenFor(d => d.Data.Email)
                    @Html.HiddenFor(d => d.Data.ServiceLocationId)
                    <div class="tab-pane">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label>Old Password</label>
                                @Html.EditorFor(d => d.Data.OldPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Old Password" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>New Password</label>
                                @Html.EditorFor(d => d.Data.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Confirm Password</label>
                                @Html.EditorFor(d => d.Data.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Confirm Password" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="btnUpdate" class="btn btn-info btn-sm " type="button" value="Update" onclick="onSubmit(this,'@Url.Action("index","account", new { area = "employee" })')" />
                            <input type="button" class="btn btn-default btn-sm" value="Back" onclick="@("window.location.href='" + @Url.Action("index","dashboard",new { area="employee"}) + "'");" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>