@using App.Schedule.Domains.ViewModel;
@model ResponseViewModel<BusinessEmployeeViewModel>

@{
    ViewBag.Title = "Update Administrator";
    Layout = "~/Views/Shared/_AfterLoginMaster.cshtml";
}
<ul class="nav nav-tabs">
    <li class="active"><a href="@Url.Action("administrator", "account", new { area = "admin" })">Administrator</a></li>
</ul>
<div class="tab-content" style="padding:0px 10px;">
    <div class="tab-pane active">
        <div class="col-lg-12 margin10">
            <div class="row">
                @if (Model != null)
                {
                    if (!Model.Status)
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong id="err_head">Info: </strong>
                            <span id="err_title">@Model.Message</span>
                        </div>
                    }
                    using (Ajax.BeginForm("edit", "businessadmin", new AjaxOptions { }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(d => d.Data.Id)
                        @Html.HiddenFor(d => d.Data.ServiceLocationId)
                        @Html.HiddenFor(d => d.Data.Email)
                        @Html.HiddenFor(d => d.Data.LoginId)
                        <table class="table table-striped">
                            <tr>
                                <td class="text-right">Email Id</td>
                                <td>
                                    <b>@Model.Data.Email</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">First Name</td>
                                <td>
                                    @Html.EditorFor(d => d.Data.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Last Name</td>
                                <td>
                                    @Html.EditorFor(d => d.Data.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Phone No.</td>
                                <td>
                                    @Html.EditorFor(d => d.Data.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone No." } })
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Old Password</td>
                                <td>
                                    @Html.EditorFor(d => d.Data.OldPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Old Password" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Password</td>
                                <td>
                                    @Html.EditorFor(d => d.Data.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Confirm</td>
                                <td>
                                    @Html.EditorFor(d => d.Data.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Confirm Password" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"></td>
                                <td>
                                    <button onclick="onSubmit(this,'@Url.Action("administrator","account", new { area = "admin" })')" class="btn btn-default">Edit</button>
                                    <a href="@Url.Action("index", "accountsetup", new { area = "admin" })" class="btn btn-default">Back</a>
                                </td>
                            </tr>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>