@using App.Schedule.Domains.ViewModel;
@model ResponseViewModel<BusinessEmployeeUpdateViewModel>

@{
    ViewBag.Title = "Update Administrator";
    Layout = "~/Views/Shared/_AfterLoginMaster.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Account Setup</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @Html.Partial("~/Views/SubViews/_ErrorView.cshtml", Model)
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Information</b>
            </div>
            @using (Ajax.BeginForm("edit", "businessadmin", new AjaxOptions { }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(d => d.Data.Id)
                @Html.HiddenFor(d => d.Data.Email)
                @Html.HiddenFor(d => d.Data.IsAdmin)
                @Html.HiddenFor(d => d.Data.ServiceLocationId)
                <div class="panel-body">
                    @if (Model == null || Model.Data == null)
                {
                        <text>Please try again later.</text>
                        
                    }
                    <div class="tab-pane">
                        <div class="row col-lg-12">
                            <div class="form-group col-lg-6 required control-label">
                                <label>First Name</label>
                                @Html.EditorFor(d => d.Data.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                            </div>
                            <div class="form-group col-lg-6 required control-label">
                                <label>Last Name</label>
                                @Html.EditorFor(d => d.Data.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                            </div>
                            @*<div class="form-group col-lg-6 required control-label">
                                <label>STD code</label>
                                @Html.EditorFor(d => d.Data.STD, new { htmlAttributes = new { @class = "form-control", @placeholder = "STD code" } })
                            </div>*@
                            <div class="form-group col-lg-6 required control-label">
                                <label>Phone No.</label>
                                @Html.EditorFor(d => d.Data.PhoneNumber, new { htmlAttributes = new { @class = "form-control", min = "0", @type = "number", @placeholder = "Phone No." } })
                            </div>
                            <div class="form-group col-lg-6 required control-label">
                                <label>Email</label>
                                <div class="form-control">
                                    @Model.Data.Email
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="btnUpdate" class="btn btn-info btn-sm " type="button" value="Update" onclick="onSubmit(this,'@Url.Action("administrator","account", new { area = "admin" })')" />
                            <input type="button" class="btn btn-default btn-sm" value="Back" onclick="@("window.location.href='" + @Url.Action("index","accountsetup",new { area="admin"}) + "'");" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>