@using PagedList;
@using PagedList.Mvc;
@using App.Schedule.Domains.ViewModel;
@using App.Schedule.Web.Helpers;
@model ResponseViewModel<IPagedList<AppointmentViewModel>>
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_AfterLoginEmployeeMaster.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        @Html.Partial("~/Views/SubViews/_ErrorView.cshtml", Model)
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Appointmet List</b>
                @if (Model != null && Model.hasAdd)
                {
                    <a href="@Url.Action("add", "appointment", new { area = "employee" })" class="btn btn-info btn-xs pull-right">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </a>
                }
            </div>
            <div class="panel-body">
                @if (Model == null || Model.Data == null)
                {
                    <text>Please try again later.</text>

                }
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group input-group input-group-sm">
                                    <input type="text" class="form-control" id="searchKeyword" value="@ViewBag.search" placeholder="Search here" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index")?type=@ViewBag.type&search=' + $('#searchKeyword').val()">
                                            <i class="glyphicon glyphicon-search"></i>
                                            Search
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-condensed table-striped table-hover sortable" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Time
                                            </th>
                                            <th>
                                                Is All Day
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Active
                                            </th>
                                            <th class="col-lg-2 text-right">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Data.Count <= 0)
                                        {
                                            <tr>
                                                <td colspan="7">
                                                    No Appointment records.
                                                </td>
                                            </tr>

                                        }
                                        @foreach (var item in Model.Data)
                                        {
                                            if (item != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                @item.Title
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <small>@item.BusinessCustomerName</small>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <small>
                                                                    <a href="@Url.Action("view", "appointment", new { id = item.Id})">
                                                                        @item.GlobalAppointmentId
                                                                    </a>
                                                                </small>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <small>@item.BusinessServiceName</small>
                                                            </div>
                                                            @if (!string.IsNullOrWhiteSpace(item.CancelReason))
    {
                                                        <div class="col-lg-12">
                                                            <small><b>Reason: </b>@item.CancelReason</small>
                                                        </div>
}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                @String.Format("Date: {0}", item.StartTime.Value.UtcToLocal().ToShortDateString())
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <small>
                                                                    @String.Format("{0} - {1}", item.StartTime.Value.UtcToLocal().ToShortTimeString(), item.EndTime.Value.UtcToLocal().ToShortTimeString())
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @item.IsAllDayEvent
                                                    </td>
                                                    <td>
                                                        @if (item.StatusType != null)
                                                        {
                                                            <text>@Enum.GetName(typeof(StatusType), (int)@item.StatusType)</text>
                                                        }
                                                    </td>
                                                    <td>
                                                        @item.IsActive
                                                    </td>
                                                    <td class="text-right">
                                                        @if (item.BusinessEmployeeId == ViewBag.EmployeeId)
                                                        {
                                                            var getStatus = item.StatusType <= 1 ? true : false;
                                                            if (getStatus)
                                                            {
                                                                <text>
                                                                    <a title="Edit" onclick="@("window.location.href='" + @Url.Action("edit", "appointment", new { area = "employee", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                                        <span class="fa fa-pencil"></span>
                                                                    </a>
                                                                </text>
                                                            }

                                                            if (item.StatusType == (int)StatusType.Completed)
                                                            {
                                                                <a title="Invoice" target="_blank" href="@Url.Action("invoicehtml", "appointment", new { area = "employee", id = item.Id })" class="btn btn-default btn-xs">
                                                                    <span class="fa fa-file-pdf-o"></span>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a title="Active or Deactive" onclick="@("window.location.href='" + @Url.Action("deactive", "appointment", new { area = "employee", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                                    <span class="fa fa-check"></span>
                                                                </a>
                                                                <a title="Close" onclick="@("window.location.href='" + @Url.Action("close", "appointment", new { area = "employee", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                                    <span class="fa fa-close"></span>
                                                                </a>
                                                            }
                                                        }
                                                        <a title="Attachment" onclick="@("window.location.href='" + @Url.Action("attachments", "appointment", new { area = "employee", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                            <span class="fa fa-file"></span>
                                                        </a>
                                                        <a title="Feedback" onclick="@("window.location.href='" + @Url.Action("feedbacks", "appointment", new { area = "employee", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                            <span class="fa fa-hand-peace-o"></span>
                                                        </a>
                                                        <a title="View" onclick="@("window.location.href='" + @Url.Action("view", "appointment", new { area = "employee", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                            <span class="fa fa-eye"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <span class="text-left">
                        <a href="@Url.Action("index", "dashboard", new { area = "employee" })" class="btn btn-default btn-sm">
                            Dashboard
                        </a>
                    </span>
                    <span class="pull-right">
                        @Html.PagedListPager(Model.Data, page => Url.Action("index", new { page, type = ViewBag.type }))
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
