@using App.Schedule.Domains.ViewModel;
@model ResponseViewModel<BusinessCustomerViewMdoel>

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AfterLoginCustomerMaster.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        @Html.Partial("~/Views/SubViews/_ErrorView.cshtml", Model)
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Change Password</b>
            </div>
            @using (Ajax.BeginForm("password", "account", new AjaxOptions { }))
            {
                <div class="panel-body">
                    @if (Model == null & Model.Data == null)
                    {
                        <text>Please try again later.</text>
                        return;
                    }
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(d => d.Data.Id)
                    @Html.HiddenFor(d => d.Data.FirstName)
                    @Html.HiddenFor(d => d.Data.LastName)
                    @Html.HiddenFor(d => d.Data.Email)
                    @Html.HiddenFor(d => d.Data.ServiceLocationId)
                    <div class="tab-pane">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label>Old Password</label>
                                @Html.EditorFor(d => d.Data.OldPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Old Password" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>New Password</label>
                                @Html.EditorFor(d => d.Data.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Confirm Password</label>
                                @Html.EditorFor(d => d.Data.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Confirm Password" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="btnUpdate" class="btn btn-info btn-sm " type="button" value="Update" onclick="onSubmit(this,'@Url.Action("index","account", new { area = "customer" })')" />
                            <input type="button" class="btn btn-default btn-sm" value="Back" onclick="@("window.location.href='" + @Url.Action("index","dashboard",new { area="customer"}) + "'");" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#linkprofilepic").click(function () {
                $("#picturelinkfile").click();
            });
        });

        function onFileChange(inputFile) {
            var file = inputFile.files[0];
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                var result = reader.result.split(',');
                console.log(result[1])
                $("#Data_ProfilePicture").val(result[1]);
                $('#userProfilePic').attr('src', reader.result);
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }
    </script>
}